@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode.eot');
  src: url('../fonts/FiraCode.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FiraCode.woff2') format('woff2'),
    url('../fonts/FiraCode.woff') format('woff'),
    url('../fonts/FiraCode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir.eot');
  src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir.woff2') format('woff2'),
    url('../fonts/Vazir.woff') format('woff'),
    url('../fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.MuiCard-root::-webkit-scrollbar {
  display: none;
}
